@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
body::-webkit-scrollbar{
    width:0.5em;
}
body::-webkit-scrollbar-track{
    background:#F6FAFC;
}
body::-webkit-scrollbar-thumb{
    background:#000000;
}
*{
    padding: 0;
    margin: 0;
    font-family: 'Josefin Sans', sans-serif;
}
/* HEADER  */
.header-inner{
    display: flex;
    justify-content: space-between;
    padding: 0 3em ;
}
.logo{
    width:20em;
    height:5em;
}
.icon{
    height: 2em;
    width: 2em;
    padding: 1.5em 0 0 2em;
}
.currency{
    padding: 1.2em 0 0 2em;
}
.currency #select{
    padding: 1em 0 1em 1em;
    border: none;
    background-color: #000;
    color: #fff;
    font-weight: bold;
}
.header-right{
    display: flex;
    justify-content: space-between;
}
/* HEADER LINKS */
.header-links{
    padding: 2em 33em;
}
.header-links ul{
    display: flex;
    justify-content: space-around;
}
ul li{
    list-style: none;
}
ul li a{
    text-decoration: none;
    color:#000;
    font-size: 1em;
}
ul li a:hover{
    color:rgb(38, 148, 111);
    transition: 20ms;
}
/* PRODUCT  */
.product .display-img{
    width: 30em;
    height: 35em;
}
.product-inner{
    display: grid;
    grid-template-columns: 2fr 1fr;
    padding: 3em 10em;
}
.selector{
    display:flex;
    padding-top: 1em;
}
.mid-select-space{
    width: 0.5em;
}
.current-image img, .next-image img, .last-image img{
    height: 80px;
    width: 70px;
}
.current-image, .next-image, .last-image{
    cursor: pointer;
    border:rgb(204, 204, 204) solid 0.5px;
}
.current-image:hover, .next-image:hover, .last-image:hover{
    cursor: pointer;
    border:black solid 0.5px;
}
.info{
    font-size: 2em;
    opacity: 0.9;
    padding: 0 0 1em 0;
    letter-spacing: 5px;
 }
 .price{
    font-size: 1.8em;
    opacity: 0.7;
    padding: 0 0 1em 0;
 }
 .title-size{
    font-size: 1.5em;
    letter-spacing: 0px;
    padding: 0 0 1em;
 }
 .sizes{
     display:grid;
     grid-template-columns: repeat(3, 40px);
 }
 .small-size, .medium-size, .large-size{
   border: rgb(204, 204, 204) solid 0.5px;
   height: 2.5em;
   width: 2.5em;
   text-align:center;
   background-color: transparent;
   cursor: pointer;
 }
 .small-size:hover ,.medium-size:hover ,.large-size:hover{
    border: black solid 0.5px;
    height: 2.5em;
    width: 2.5em;
    text-align:center;
    color:black;
    background-color: transparent;
    cursor: pointer;
 }
 .size-selected{ 
    border: black solid 0.5px; 
    height: 2.5em;
    width: 2.5em;
    text-align:center; 
    color:rgb(219, 219, 219); 
    background-color: black; 
    cursor: pointer;  
}
 .title-quantity{
    font-size: 1.5em;
    letter-spacing: 0px;
    padding: 1em 0;
 }
.quantity{
    background-color: transparent;
    border:rgb(204, 204, 204) solid 0.5px;
    padding: 0.8em;
 }
.buy-now{
    background-color: black;
    color: white;
    border: 1px solid black;
    padding: 1em 2em;
    letter-spacing:5px;
    margin-top: 1em;
    width: 30em;
    cursor: pointer;
 }
 .buy-now:hover{
    background-color: #c50000;
    color: black;
    border:black solid 0.5px;
    padding: 1em 2em;
    letter-spacing:5px;
    margin-top: 1em;
    width: 30em;
    cursor: pointer;
    transition: 1s;
 }
 .add-to-cart{
    background-color: transparent;
    color: rgb(156, 156, 156);
    border:rgb(204, 204, 204) solid 0.5px;
    padding: 1em 2em;
    letter-spacing:5px;
    margin-top: 2em;
    width: 30em;
    cursor: pointer;
 }
 .add-to-cart:hover{
    background-color: black;
    color: white;
    border:black solid 0.5px;
    padding: 1em 2em;
    letter-spacing:5px;
    margin-top: 2em;
    width: 30em;
    cursor: pointer;
    transition-duration: 1s;
 }
/* FOOTER  */
.footer{
    background-color: #000000;
    letter-spacing: 0;
    padding: 0 10em;
    color: #fff;
    text-align: left;
}
.footer-inner{
   display: flex;
   justify-content: space-between;
   padding-top: 4em;
}
.news-input button{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border:none;
    padding: 1em 2em;
    letter-spacing: 5px;
    margin-top: 1em;
    cursor: pointer;
}
.news-input input{
    background-color: transparent;
    border-color: #fff;
    padding: 1em 2em;
    width: 30em;
    border-style: solid;
    border-width:0.5px;
    margin-top: 2em;
}
.news-input ::placeholder{
    color: rgb(255, 255, 255);
    letter-spacing: 1px;
}
.newsletter p, span{
    padding-bottom: 2em;
}
.newsletter span{
    letter-spacing: 0.5px;
    font-size: 1em;
}
.rights{
    text-align: center;
    margin-top: 2em;
    padding: 3em 0 2em 0;

}
.socials a{
    text-decoration: none;
    color:rgb(255, 255, 255);
    margin-right: 1em;
}
.socials i{
    font-size: 2em;
}
.socials p{
    padding-bottom: 2em;
}
.import-links a{
    text-decoration: none;
    color:rgb(255, 255, 255);
    letter-spacing: 0.5px;
    font-size: 1.2em;
}
.import-links p{
    padding-bottom: 2em;
}